<% layout ("/layouts/boilerplate" ) %>




  <body>
    <%- include('../partials/navbar.ejs') %>
      <%- include('../partials/flash.ejs') %>



        <div class="mainContainer">
          <h3 class="py-10">Listing Details</h3>
          <ul>
            <div class="card mb-3 ">
              <div class="row g-0">
                <div class="col-md-6">
                  <img src="<%= listing.image.url %>" class="img-fluid rounded" alt="<%= listing.description %>">
                </div>
                <div class="col-md-6 h-96">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= listing.title %>
                    </h5>
                    <i> Owned By- <%= listing.owner.username %></i>
                    <p class="card-text">
                      <%= listing.description %>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Price: &#8377; <%=
                          listing.price.toLocaleString("en-IN") %></small></p>
                    <p class="card-text">
                      <%= listing.location %>
                    </p>
                    <p class="card-text">
                      <%= listing.country %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ul>
          <br>

         <div class="deleteEditBtn">
          <br>
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit </a>
          <br>
         
          <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete </button>
          </form>
        </div>

        </div>
        <hr>

        <div class="col-8 offset-3">
          <% if(currUser) {%>
            <h4>Leave a review</h4>
            <br>
            <br>
            <form class="needs-validation" novalidate action="/listings/<%= listing.id %>/reviews" method="POST"
              class="needs-validation" id="reviewForm">
              <div>
                <fieldset class="starability-slot">
                  <legend> Rating:</legend>
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                    aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>

              </div>
              <div>
                <label class="form-label" for="comment">Comments</label>
                <br>
                <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="3"
                  placeholder="Typing here..." required></textarea>
                <div class="invalid-feedback">
                  Please add some comments for review...
                </div>
              </div>
              <br>
              <br>
              <div>
                <button type="submit">Submit</button>
              </div>

              <% } %>
                <br>
                <br>
            </form>



        </div>

        <!-- all review -->
        <div class="container">
      
   <%   if(listing.reviews.length >0)  {  %> 
          <div class="row">
            <h3>All reviews</h3>
            <% for (review of listing.reviews) { %>
              <div class="col-md-5 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> <i>@<%= review.author.username %> </i></h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>

                    <p class="card-text">
                      <%= review.comment %>
                    </p>
                    <!-- <p class="card-text"><%= review.rating %> Stars</p> -->


                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3"
                      method="POST">
                      <button class="btn btn-sm btn-dark">Delete</button>
                    </form>

                  </div>
                </div>
              </div>
              <% } %>
          </div>
  <% }  %>

        </div>

        <!-- mapbox   -->

        <!-- <div class="col-8 offset-3 mb-3">
          <hr>
             <h3>Where you'll be</h3>
              <div id="map">
              </div>
        </div> -->



        <%- include('../partials/footer.ejs') %>



          <script>
   
          </script>


